:host{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.links{
  gap: 20px;
  display: flex;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  max-width: 1000px;
  flex-wrap: wrap;
  max-height: calc(100dvh - 64px);
  justify-content: center;
}