:host{

  &:hover{
    & .header_group-config{
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.header_group{
  &-link{
    color: var(--Text-color);
    cursor: pointer;
    display: flex;
    column-gap: 12px;
    transition: background-color 0.3s, border-radius 0.4s, box-shadow 0.4s;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;

    &::after{
      left: -12px;
      width: 2px;
      height: 6px;
      content: '';
      opacity: 0;
      position: absolute;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: background-color 0.5s ease, height 0.3s, opacity 0.3s, width 0.3s;
      pointer-events: none;
      background-color: var(--Selector-color);
    }

    &:hover{
      &:after{
        width: 6px;
        height: 50%;
        opacity: 1;
      }

      .open &{
        box-shadow: var(--Group-shadow);
        border-radius: 10px;
        background-color: var(--Background-color);
      }
    }

    &.selected{
      &:after{
        width: 6px;
        height: 100%;
        opacity: 1;
      }
    }
  }

  &-icon{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    transition: border-radius 0.4s, box-shadow 0.390s;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

    &-emoji{
      margin: 0;
      font-size: 20px;
    }
    
    &:hover{
      box-shadow: var(--Group-shadow);
      border-radius: 10px;
    }
  }

  &-name{
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s 0.2s ease;
    white-space: nowrap;

    &-text{
      width: 180px;
      margin: 0;
    }
  }

  &-config{
    top: -13px;
    right: -13px;
    width: 26px;
    height: 26px;
    opacity: 0;
    position: absolute;
    box-shadow: var(--Shadow);
    transition: opacity 0.3s;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--Tooltip-color);

    &.persist{
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }

    & mat-icon{
      width: 100% !important;
      height: 100% !important;
      display: flex;
      font-size: 20px;
      align-items: center;
      justify-content: center;

      &:hover{
        animation: Gear 0.7s ease forwards;
      }
    }
  }

  &-options{
    right: 0;
    cursor: auto;
    transform: translateX(calc(100% + 30px));
    padding: 10px 0;
    position: absolute;
    box-shadow: var(--Shadow);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 6px;
    background-color: var(--Element-color);

    &-text{
      margin: 0;
      display: flex;
      column-gap: 4px;
      align-items: center;
    }

    &-icon{
      width: 20px;
      height: 20px;
      font-size: 18px;
    }

    &-edit, &-delete{
      cursor: pointer;
      padding: 4px 10px;
      white-space: nowrap;

      &:hover{
        background-color: var(--Background-color);
      }
    }
  }
}

@keyframes Gear {
  100%{
    transform: rotate(360deg);
  }
}