<div class="header-toggle">
  <mat-icon (click)="toggleOpen()"  class="header-toggle-icon">menu</mat-icon>
</div>

<div class="header-container" #container>
  <div class="header_principal">
    <div class="header_principal-image" data-name="Mostrar todos" #principalImg (mouseover)="createTooltip('Mostrar todos')" (mouseleave)="deleteTooltip()" >
      <img ngSrc="../../../favicon.ico" alt="Logo" width="40" height="40">
    </div>
    <div class="header_principal-text">
      <h1 class="header_principal-title">Links note</h1>
    </div>
  </div>
  
  <ul class="header-groups">
    <app-group class="header_group header-group" *ngFor="let g of groups" [group]="g" [attr.data-name]="g.name" [isOpen]="isOpen" [option]="option" (tooltip)="emitTooltip($event)" (optionEvent)="emitOption($event)" (focusedElement)="emitFocusedElement($event)" />
    
    <li class="option" (click)="toggleOptions('add')" #addOption  (mousemove)="createOptionTooltip()" (mouseleave)="deleteTooltip()" >
      <div class="option-icon" data-name="Agregar">
        <mat-icon>add</mat-icon>
        <!-- <ng-container *ngIf="group.emoji">
          <p class="option-icon-emoji">{{ group.emoji }}</p>
        </ng-container> -->
      </div>
      
      <div class="option-name group-name">
        <p>Agregar</p>
      </div>
    </li>
  </ul>
</div>
