<div class="header-toggle">
  <mat-icon (click)="toggleOpen()"  class="header-toggle-icon">menu</mat-icon>
</div>

<div class="header-container" #container>
  <ul class="header-groups">
    <a class="header_principal groups-element" 
    routerLink="/" routerLinkActive="selected" 
    [routerLinkActiveOptions]="{exact: true}" >
      <div class="header_principal-image" data-name="Mostrar todos" #principalImg (mouseover)="createTooltip('Mostrar todos')" (mouseleave)="deleteTooltip()" >
        <img ngSrc="../../../favicon.ico" alt="Logo" width="40" height="40">
      </div>
      <div class="header_principal-text">
        <h1 class="header_principal-title">Links note</h1>
      </div>
    </a>

    <li class="header-separator"></li>
    
    <app-group class="header_group groups-element" *ngFor="let g of groups" [group]="g" [links]="links" [isOpen]="isOpen" [option]="option" (tooltip)="emitTooltip($event)" (optionEvent)="emitOption($event)" (focusedElement)="emitFocusedElement($event)" (configRefOutput)="emitConfigRef($event)" />
    
    <li class="option" (click)="toggleOptions('add')" #addOption  (mousemove)="createOptionTooltip()" (mouseleave)="deleteTooltip()" >
      <div class="option-icon" data-name="Agregar">
        <mat-icon>add</mat-icon>
        <!-- <ng-container *ngIf="group.emoji">
          <p class="option-icon-emoji">{{ group.emoji }}</p>
        </ng-container> -->
      </div>
      
      <div class="option-name group-name">
        <p>Agregar</p>
      </div>
    </li>
  </ul>
</div>
