:host{
  color: var(--Text-color);
  text-decoration: none;
}

.header{
  &-toggle{
    height: 64px;
    padding: 12px;

    &-icon{
      top: -52px;
      left: 12px;
      width: 40px !important;
      height: 40px !important;
      cursor: pointer;
      z-index: 120;
      display: flex;
      align-items: center;
      border-radius: 6px;
      justify-content: center;
  
      &:hover{
        background-color: var(--Background-color);
      }
    }
  }

  &-container{
    bottom: 0;
    width: 100%;
    height: calc(100% - 64px);
    padding: 12px 12px 20px 12px;
    row-gap: 20px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: background-color 0.5s ease, border 0.5s ease, width 0.5s ease;
    border-right: 2px solid var(--Border-color);
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Element-color);

    &.open{
      width: 252px;
    }

    &::-webkit-scrollbar{
      display: none;
    }
  }

  &-version{
    color: var(--Selector-color);
    margin: 0;
    font-size: 12px;
    font-weight: bold;
  }

  &_principal{
    color: var(--Text-color);
    cursor: pointer;
    display: flex;
    position: relative;
    column-gap: 12px;
    align-items: center;
    text-decoration: none;

    &::after{
      left: -12px;
      width: 1px;
      height: 6px;
      content: '';
      opacity: 0;
      position: absolute;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: background-color 0.5s ease, height 0.3s, opacity 0.3s, width 0.3s;
      pointer-events: none;
      background-color: var(--Selector-color);
    }

    &.selected{
      &:after{
        width: 6px;
        height: 100%;
        opacity: 1;
      }
    }
    
    &:hover{
      &:after{
        width: 6px;
        height: 50%;
        opacity: 1;
      }
    }

    &-image{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      transition: border-radius 0.4s, box-shadow 0.4s;
      border-radius: 50%;
      
      &:hover{
        box-shadow: var(--Icon-shadow);
        border-radius: 8px;
        background-color: var(--Background-color);
      }
    }

    &-text{
      overflow: hidden;
      
      & h1{
        width: 100%;
        margin: 0;
        opacity: 0;
        font-size: 20px;
        transition: opacity 0.4s 0.2s ease;
        white-space: nowrap;
        
        .open &{
          opacity: 1;
        }
      }
    }
  }

  &-groups{
    height: auto;
    display: flex;
    row-gap: 12px;
    overflow: visible;
    flex-direction: column;
  }

  &-separator{
    width: 100%;
    height: 2px;
    transition: width 0.5s ease, background-color 0.5s ease;
    pointer-events: none;
    background-color: var(--Border-color);
  }

  &_group{
    position: relative;
  }
}

.option{
  cursor: pointer;
  display: flex;
  position: relative;
  column-gap: 12px;
  transition: background-color 0.3s, border-radius 0.4s, box-shadow 0.4s;
  align-items: center;
  border-radius: 20px;

  &:hover{
    .open &{
      box-shadow: var(--Group-shadow);
      border-radius: 10px;
      background-color: var(--Background-color);
    }
  }

  &-icon{
    cursor: pointer;
    display: flex;
    position: relative;
    min-width: 40px;
    min-height: 40px;
    transition: border-radius 0.4s, box-shadow 0.390s, background-color 0.5s ease;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--Background-color);

    &:hover{
      box-shadow: var(--Icon-shadow);
      border-radius: 10px;

      .open &{
        box-shadow: none;
        border-radius: 0;
      }
    }

    &-emoji{
      margin: 0;
      font-size: 20px;
    }
  }

  &-name{
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s 0.2s ease;
    white-space: nowrap;

    & p{
      margin: 0;
    }
  }
}
