<app-toolbar />

<section class="about">
  <div class="about_section">
    <h2 class="about_section-title">📁 Proyecto</h2>

    <div class="about_section-content">
      <p><b><i>Links note</i></b> es un proyecto que te puede ayudar a guardar enlaces de una manera fácil y visual, puedes guardar por grupos o independientemente, si lo haces por grupos podrás acceder al grupo y ver solo los enlaces de ese grupo.</p>
      <p>Los enlaces se muestran en una carta con la imagen <i>(la imagen puede o no mostrarse ya que utiliza una api de google para obtener la imagen de la pagina y solo obtiene la imagen de las páginas que tienen un favicon)</i> del sitio web del enlace, nombre del enlace, otra información que es opcional como la descripción y el nombre del grupo al que pertenece, al darle click a la carta te redirigirá el enlace de la misma.</p>
      <p>Los grupos y enlaces se pueden editar, solo a los grupos se le pueden editar la posición.</p>
      <p>El proyecto no es responsivo, está diseñado solo para <b>PC/desktop</b> y aún está en una fase beta.</p>
    </div>
  </div>

  <div class="about_section">
    <h2 class="about_section-title">💪 Motivación</h2>

    <div class="about_section-content">
      <p>Este proyecto fue desarrollado más que nada para aprender o probar <a href="https://angular.io/">Angula</a>, basándome en un anterior proyecto igual a este <a href="https://dg-links-note.netlify.app/">Links note</a> pero el anterior esta desarrollado de forma vanilla o sin ningún framework o librería.</p>
      <p>Al principio tenía pensado hacer una copia literal del proyecto anterior para solo enfocarme en aprender <b>Angualr</b> pero al final sin querer hice un nuevo diseño de casi todo y se alargó el tiempo estimado para desarrollar el proyecto.</p>
      <p><i>Pero ya está aquí por fin y tengo que decir que me gusto Angular y trataré de en un futuro continuar mejorando este proyecto</i></p>
    </div>
  </div>

  <div class="about_section">
    <h2 class="about_section-title">🏷️ Versión {{ version }}</h2>
    
    <div class="about_section-content">
      <p>En esta versión se soluciono el error al editar el enlace de un link, enteriormente no se actualizaba.</p>
    </div>
  </div>
  
  <div class="about_section">
    <h2 class="about_section-title">🧑‍💻 Desarrollador</h2>
    
    <div class="about_section-content">
      <p>
        Desarrollado por <b>David Garcia Amador</b>, primera vez que hago una sección así en mis proyectos, para más información sobre mi y mis proyectos les comparto mi <a href="https://dg-my-portfolio.vercel.app/" target="_blank">porfolio</a>.
      </p>
    </div>
  </div>
</section>
