<header class="header" [groups]="groups" [links]="links" [option]="option" (focusedElement)="setFocusedElement($event)" (tooltip)="createTooltip($event)" (optionEvent)="updateOption($event)" (configRefOutput)="setFocusedOptionRef($event)" ></header>

<app-form [ngClass]="{'active': formData}" [formData]="formData" [groups]="groups" [links]="links" (close)="closeForm()" />

<div *ngIf="tooltip" class="tooltip {{ tooltip.direction }}"  [style.top]="tooltip.top+'px'" [style.left]="tooltip.left+'px'" >
  {{ tooltip.content }}
</div>

<div *ngIf="option" class="options" [style.top]="option.top+'px'" [style.left]="option.left+'px'">
  <content *ngIf="option.type == 'add'">
    <div class="options-option" (click)="setFormType('group')">
      <p class="options-text">
        <mat-icon class="options-icon">folder</mat-icon> Crea un grupo
      </p>
    </div>
    <div class="options-option" (click)="setFormType('link')">
      <p class="options-text">
        <mat-icon class="options-icon">article</mat-icon> Agrega un link
      </p>
    </div>
  </content>
  
  <content *ngIf="option.type == 'element'">
    <div class="options-option" (click)="openEditForm()">
      <p class="options-text">
        <mat-icon class="options-icon">edit</mat-icon> Editar
      </p>
    </div>
    <div class="options-option" (click)="deleteElement()">
      <p class="options-text">
        <mat-icon class="options-icon">delete</mat-icon> Eliminar
      </p>
    </div>
  </content>
</div>

<router-outlet></router-outlet>