<div class="link_card-image">
  <img src="https://www.google.com/s2/favicons?sz=64&domain_url={{ link.url }}" alt="{{ link.name}}">
</div>

<p class="link_card-text" >{{ link.name }}</p>
<div class="link_card-details">
  <div *ngIf="link.groupId" class="link_card-group" [style.border-color]="group?.color" [style.background-color]="group?.color ? group?.color+'60' : undefined" [attr.data-group]="group?.name" >
    {{ group?.emoji }}
  </div>
  <div *ngIf="link.description" class="link_card-info" [attr.data-description]="link.description" >
    <mat-icon>info</mat-icon>
  </div>
</div>

<div class="link_card-config" #config (click)="toggleOptions('element')" >
  <mat-icon>settings</mat-icon>
</div>
