<!-- <pre>{{ linksNoteform | json }}</pre> -->
<form class="form" #form >
  <h3 class="form-title">{{ title }}</h3>
  <mat-icon class="form-close" (click)="closeForm()" >close</mat-icon>


  <div class="form-section">
    <label class="form-label" for="nameIt">Nombre</label>
    <input #firstInput class="form-input" name="nameIt" type="text" id="nameIt" autocomplete="off" value="{{ formData?.element?.name || '' }}" minlength="2" maxlength="20" required >
  </div>

  <div class="form-section">
    <label class="form-label" for="description">Descripción</label>
    <textarea (keyup)="hendleKeyUp($event)" class="form-input form-textarea" name="description" id="description" autocomplete="off" value="{{ formData?.element?.description}}" minlength="6" maxlength="600" > </textarea>
  </div>

  <div class="form-section" *ngIf="formData?.type == 'link'">
    <label class="form-label" for="url">Url</label>
    <input #firstInput class="form-input" name="url" type="url" id="url" autocomplete="off" value="{{ formData?.element?.url || '' }}" required >
  </div>
  
  <div class="form-group" *ngIf="formData?.type == 'group'" >
    <div class="form-section">
      <label class="form-label" for="color">Color</label>
      <input class="form-input" name="color" type="color" id="color" value="{{ formData?.element?.color }}" required >
    </div>
  
    <div class="form-section">
      <label class="form-label" for="emoji">Emoji</label>
      <input class="form-input" name="emoji" type="text" id="emoji" value="{{ formData?.element?.emoji }}" autocomplete="off" >
    </div>
  </div>

  <div class="form-section" *ngIf="formData?.type == 'link'" >
    <label class="form-label" for="group">Group</label>
    <select class="form-input" name="group" id="group">
      <option class="form-option" value="">Ninguno</option>
      <option class="form-option" *ngFor="let o of groups" [value]="o.id" [selected]="o.id == formData?.element?.groupId" >{{ o.name }}</option>
    </select>
  </div>

  <button class="form-button">{{ formData?.element ? 'Actualizar' : (formData?.type == 'group' ? 'Crear' : 'Agregar') }}</button>
</form>